.inputAmount {
    -moz-appearance: textfield;
}
.inputAmount::-webkit-inner-spin-button,
.inputAmount::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.HomeBanner {
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    background: rgba($color: #d8d8d8, $alpha: 0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    h2 {
        text-shadow: black 0.1em 0.1em 0.2em;
    }
}
.promise {
    text-shadow: black 0.1em 0.1em 0.2em;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-attachment: fixed;
    background-position: center;
    background-image: url("https://upload.cc/i1/2020/09/21/GUYRjv.jpg");
    background-size: cover;
    height: 450px;
}
.process {
    background: linear-gradient(#fcfcfc, rgb(250, 249, 245));
}
.hotRoom {
    padding-top: 500px !important;
    background: linear-gradient(rgb(250, 249, 242), #fcfcfc);
}
.about {
    transition: all 1s;
}
.hoverPic {
    overflow: hidden;
    &:hover > .hoverInfo {
        bottom: 0;
    }
}
.hoverInfo {
    background: rgba($color: #000000, $alpha: 0.7);
    transition: all 1s;
    bottom: -90%;
    right: 0;
    left: 0;
    z-index: 1;
}

.firmCard {
    position: relative;
    top: 0;
    transition: all 0.3s;
    &:hover {
        top: -10px;
    }
}
.roomCard {
    position: relative;
    top: 0;
    transition: all 0.3s;
    &:hover {
        top: -10px;
    }
}
.roomInfoIcon{
    color: rgb(255, 174, 0);
  }